.file_uploader {
    .upload_control{ 
        overflow: hidden;
        position: relative;
        display: inline-block;

        .default_image {
            width: 100%;
        }
        input[type=file] {
            top: 0;
            left: 0;
            opacity: 0;
            height: 100%;
            width: 100%;
            position: absolute;
        } 
    }

    .image_preview_container {
        .image_preview {
            width: 30%;
            opacity: 1;
            margin: 5px;
            position: relative;
            border-radius: 4px;
            transition: .5s ease;
            display: inline-block;

            &:hover .image_remove {
                opacity: 1;
            }
            &:first-child {
                margin: 0;
                width: 100%;
                margin-top: -17px;
                margin-bottom: 15px;
            }
            img {
                width: 100%;
            }
            .image_remove {
                top: 0;
                left: 0;
                gap: 10px;
                opacity: 0;
                width: 100%;
                color: #fff;
                display: flex;
                font-size: 30px;
                position: absolute;
                padding: 2px 5px;
                align-items: center;
                transition: 0.5s ease;
                background: rgba(0,0,0,.4);
                justify-content: space-between;
                i {
                    cursor: pointer;
                }
            }
        } // .image_preview
    } 
} // .fileupload