<article class="box animate__animated animate__fadeIn animate_faster">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline" class="col">
            <mat-label>Grado</mat-label>
            <mat-select formControlName="grado" disableRipple>
                <mat-option *ngFor="let item of grados" [value]="item.grado">
                    {{ item.grado }}
                </mat-option>
            </mat-select>
        </mat-form-field>  
 
        
        <mat-form-field appearance="outline" class="col">
            <mat-label>Letra</mat-label>
            <mat-select formControlName="letra" disableRipple>
                <mat-option *ngFor="let item of letras" [value]="item">
                    {{ item }}
                </mat-option>
            </mat-select>
        </mat-form-field>  

        <mat-form-field appearance="outline" class="col">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="estado" disableRipple>
                <mat-option *ngFor="let item of estados" [value]="item">
                    {{ item }}
                </mat-option>
            </mat-select>
        </mat-form-field>  

        <div class="footer">
            <app-spinner *ngIf="isLoading"></app-spinner>
            <button *ngIf="!isLoading" [disabled]="form.invalid" 
                type="submit" color="primary" mat-raised-button>Crear</button>
        </div>
        
    </form>
</article>